{% extends 'base.html.twig' %}
{% block body %}

	<div class="container mt-5">
		<h1 class="text-center">{{ post.title }}</h1>
		<img src="{{ '/uploads/images/' ~ post.image }}"></img>
	</div>

{% endblock %}
